doctype html

html
  head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= "Constructed Criticism"

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(href="css/styles.css" rel="stylesheet" type='text/css')

  body
    .main-container
      .nav-container
        a(href='/') construct
        a(href='/about') about
      .image-container
        p heeeerres abunch of about text. heeeerres abunch of about text. heeeerres abunch of about text.
          heeeerres abunch of about text. heeeerres abunch of about text. heeeerres abunch of about text.
          heeeerres abunch of about text. heeeerres abunch of about text. heeeerres abunch of about text.
          heeeerres abunch of about text.

  script(src="https://code.jquery.com/jquery-2.2.0.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
