doctype html

html
  head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= "Constructed Criticism"

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(href="css/styles.css" rel="stylesheet" type='text/css')

  body
    .main-container
      .nav-container
        a(href='/') construct
        a(href='/about') about
      .about-container
        p.
        <strong>WHAT IS IT?</strong><br>

        <br>Constructed Criticism is an artificial intelligence programmed to deliver "thoughtful" critique and feedback for your artistic endeavors.

        Pulling criticism’s from the internet’s most vocal critics, Constructed Criticism produces thoughtfully constructed criticism based on what it has heard on the internet.

        In classic echo chamber fashion, this AI creates “new” critiques using patterns and habits present in critiques it has read.<br>

        <br><strong>HOW DOES IT WORK?</strong><br>

        <br>Using an algorithm called a Markov Chain, Constructed Criticism analyzes data sources from thousands of art critiques. It then calculates the probability of word order, and generates new critiques using this information.<br>

        <br><strong>WHY DID YOU BUILD THIS?</strong><br>

        <br>Constructed Criticism highlights the echo chamber that exists within the art world. Often times, we seek criticism and responses that confirm our existing beliefs. This is called confirmation bias. It is important as artists and individuals that we challenge our existing beliefs, become aware of the echo chamber, and do our best to break out of our existing patterns and loops.<br>

  script(src="https://code.jquery.com/jquery-2.2.0.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
