<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Constructed Criticism</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>
<div class="main-container">
  <div class="upload container">
    <input id="upload-input" type="file" name="uploads[]">
    <div class="progress">
      <div class="progress-bar" role="progressbar"></div>
    </div>
  </div>
  <div class="image-container">
    <img src="images/gods-light-final.png"></img>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/upload.js"></script>
</body>

</html>
