* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  letter-spacing: .10em;
}

html,
body {
  height: 100%;
}

body {
}

.main-container{
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 600px){
  .main-container {
  padding-top: 20px;
  width: 50%;
  margin: 0 auto;
  }

  .image-container p{
    font-size: 2em;
  }
}

.nav-container{
  width: 100%;
  padding-bottom: 10px;
}

.upload-container{
  width: 100%;
}

#upload-input{
  padding-bottom: 10px;
}

.progress{
  width: 100%;
}

.image-container{
  display: flex;
  flex-direction: column;
}

.image-container figure{
  width: 100%;
  border-style: outset;
  border-width: 3px;
  border-color: #d0d0d0;
  margin: 10px;
}

.image-container figure img{
  width: 100%;
  padding: 10px;
}

.image-container p{
  padding: 10px;
  text-align: center;

  font-size: 0.8em;
}
